body {
  display: flex;
  justify-content: center;
  background-color: #282c38;
}
h1 {
  color: white;
}

.product {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.product button {
  width: 100%;
  padding: 1rem;
  color: white;
  background-color: steelblue;
  border: 0px;
  font-size: 2rem;
}

.product img {
  width: 50rem;
}
